@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@700&display=swap');
@import 'reset';

$web1 : 1199px;
$web2 : 1100px;
$tablet1 : 991px;
$tablet2 : 767px;
$mobile : 320px;



@import 'header';
main{
    width: 100%;
    padding-top: 20px;
    overflow-x: hidden;

    @import 'banner';
}